* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 53px;
}

h2 .title {
    margin-top: 30px;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('/img/main.bg.jpg') center center / cover no-repeat;
    padding: 39px 0 690px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto; /* применяется только с блочным элементам */
}

.logo .logo_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    /* line-height: 24px; */
    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
}

.title {
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    /* line-height: 24px; */
    text-align: center;
    text-transform: uppercase;
}

.simple .title_big {
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    /* line-height: 24px; */
    text-align: center;
    text-transform: uppercase;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span {
    color: #f9bf3b;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.promo .promo_btn, .gift .gift_btn  {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);

    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    /* font-family: "Roboto Condensed"; */
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

 .more {
     margin-top: 73px;
}

 .more .more_text {
    color: #ffffff;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;  
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    cursor: pointer;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
color: #252525;
font-family: Roboto;
font-size: 30px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 12px;
text-align: center;
text-transform: uppercase;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 23px;
}

.waiting .waiting_subheader {
color: #4a4a4a;
font-family: Roboto;
font-size: 23px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
/* line-height: 20px; */
text-align: center;
margin: 0 auto;
margin-top: 17px;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
    
    
    width: 340px;
    text-align: center;
    
    /* float: left; */
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-left: 391px;
    margin-top: 25px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: justifyLeft;

}

.optimization .optimization_text span {
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: 48px;
    left: -248px;
    z-index: -1;

}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('/img/skils/bg.png') center center / cover no-repeat;
}

.finish .finish_header {
    color: #efefef;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

.gift {
    min-height: 628px;
    background-color: #efefef;
    padding-top: 86px;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
    width: 154px;
    height: 174px;
}

.gift .gift_text {

    margin: 42px auto;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

.gift .gift_btn {

border: 4px solid rgba(0, 0, 0, 0.11);
}

.dateweb {
    min-height: 515px;
    background-color: #efefef;
    padding-top: 89px;
}

.dateweb .dateweb_item {
    
    width: 340px;
    text-align: center;   

}

.dateweb .dateweb_img {
    margin: 0 auto;
    margin-left: 399px;
}

.dateweb .dateweb_text .dateweb_header {
    margin: 0 auto;
    margin-top: 37px;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
}

.dateweb .dateweb_text .dateweb_subheader {
    margin: 0 auto;
    margin-top: 30px;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
}

.dateweb .dateweb_text .dateweb_lasttext {
    margin: 0 auto;
    margin-top: 25px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
}

footer {
    min-height: 166px;
    min-width: 1110px;
    background-color: #1a1a1a;
    padding-top: 61px;
}

.footer_text {
    width: 377px;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
    text-decoration: underline;
    color: #888888;
}

a {
    color: #888888;  
}